.navHome {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  transition: width 0.4s ease-in-out, padding 0.5s ease-in-out;

  height: 100vh;
  z-index: 10;

  border-right-width: 1px;
  border-right-style: solid;
  padding: 2.5rem 1.5rem;
  width: 260px;
  position: fixed;
  transform: translate(-100%);
  top: 0px;

  @media screen and (max-width: 768px) {
    padding: 2.5rem 0px;
    width: 0px;
  }
}

.listOfItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
