.avatarBorder {
  border: 2px solid #000000;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.8rem 0.5rem;
  height: 350px;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    height: initial;
    user-select: none;
    pointer-events: none;
    &:hover {
      transform: none;
    }
  }

  border-bottom-width: 1px;
  border-bottom-style: solid;

  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: translateY(-5px);
  }

  .cardHeader {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }
  .cardHeaderContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media screen and (max-width: 768px) {
      h3 {
        font-size: 1.2rem;
        line-height: 1rem;
      }
      p {
        font-size: 0.6rem;
        opacity: 0.7;
      }
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.3rem;
    }
    p {
      font-size: 0.8rem;
      opacity: 0.7;
    }
  }

  .cardContent {
    display: flex;
    align-items: center;
    gap: 3rem;

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    > main {
      display: flex;
      flex-direction: column;
      flex: 1;

      @media screen and (max-width: 768px) {
        h2 {
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
        p {
          font-size: 0.9rem;
          opacity: 0.7;
        }
      }

      gap: 1rem;
    }
  }
}

.HStack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.imageCard {
  width: 90%;
  height: 90%;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 0.35rem;

  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 1024px) {
    max-width: 100%;
    max-height: 300px;
  }
}

.bottomCardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
