.headerHome {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  width: calc(100vw - 260px);
  max-width: 1120px;
  position: fixed;
  padding: 0 1.5rem;
  top: 0;
  z-index: 1;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.contentHeaderHome {
  width: 100%;
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  transition: padding 0.3s ease-in-out, height 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    height: 6rem;
    padding: 0 1.5rem;
  }

  @media screen and (max-width: 768px) {
    padding: 0 0.8rem;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  @media screen and (max-width: 768px) {
    width: 100%;
    justify-content: space-between;
  }
}

.avatarAndText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.avatarBorder {
  border: 2px solid #000000;
}
.avatarContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 20px;

  h3 {
    transform: font-size 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: -0.4rem;
  }

  p {
    transform: font-size 0.3s ease-in-out;
    font-weight: 600;
    font-size: 0.8rem;
    opacity: 0.6;
  }

  @media screen and (max-width: 420px) {
    h3 {
      font-size: 1rem;
    }

    p {
      font-weight: 600;
      font-size: 0.6rem;
      opacity: 0.6;
    }
  }
}
